html, body {
	background-color: #fff;
	color: #000;
	margin: auto;
	padding: 1.2em;
	width: auto;
	text-align: justify;
	font-size: 1em;
}

body, p, td, li, dt, dd {
}

/* pararaphs (docbook: <para>) */
p {
	margin: .3em;
	padding: .3em;
}

/* docbook: <imageobject> */
img {
	margin: 0;
	padding: 0;
	border: 0;
}


/* docbook: <emphasis> */
em {
	font-weight: 600;
	font-style: italic;
	padding: .2em;
}

/* heading1 is used for document title */
h1 {
	font-size: 150%;
	font-weight: 600;
	line-height: 250%;
	text-align: center;
	color: #009;
	background-color: #ddd;
	margin: .3em 0 .3em 0;
	padding: 0;
}

/* sect(ion)1 title */
h2{ 
	font-size: 125%;
	font-weight: 600;
	text-decoration: none;
	color: #009;
	background-color: #ddd;
	margin: 15px 0 15px 0;
	padding: 12px 15px 12px 15px;
}

/* sect(ion)2 title */
h3 {
	font-size: 110%;
	font-weight: 600;
	text-decoration: none;
	color: #009;
	background-color: transparent;
	padding: 0 0 0 15px;
}

h3.author {
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	color: #000;
	background-color: #fefefe;
	margin: 0 15px 15px 15px;
	padding: 0;
	border: 0;
}

/* sect(ion)3 title */
h4 {
	font-size: 100%;
	font-weight: 600;
	text-decoration: none;
	color: #009;
	background-color: transparent;
	padding: 0 0 0 15px;
}


/* sect(ion)4 title */
h5 {
	font-size: 100%;
	font-weight: 300;
	text-decoration: none;
	color: #009;
	background-color: transparent;
	padding: 0 0 0 15px;
}

.calloutlist, .figure, .table, .itemizedlist, .variablelist {
	margin: .3em .6em .3em .6em;
}

.blockquote {
	margin-bottom: .6em;
}

.blockquote p, .blockquote td {
	/* font-weight: 450; */
}

/* title and navigation links in header and footer */
.navheader th, .navheader td, .navfooter th, .navfooter td {
	font-size: .8em;
	font-weight: 450;
}


/* table of contents, list of figures and list of tables */
.toc, .list-of-figures, .list-of-tables {
	margin: .3em .6em .3em .6em;
}


/* the "headings" are rendered as paragraphs */
.toc p, .list-of-figures p, .list-of-tables p {
	margin: 0;
}


a:link {
	color: #0000ee;
	background-color: transparent;
}

a:hover {
	color: #000088;
	background-color: transparent;
}

a:visited {
	color: #551a8b;
	background-color: transparent;
}

a:active {
	color: #ff0000;
	background-color: transparent;
}

pre.programlisting {
	background-color: lightyellow;
	padding: 1em;
	border: 1px dotted black;
}

tt, .glossterm {
	padding: 4px;
}

/* copyright and date */
.copyright, .pubdate {
	font-size: 90%;
	text-align: center;
	margin: .3em;
	padding: 0;
	border: 0;
}


/* legal notice box */
div.legalnotice {
	font-size: 90%;
	color: #000;
	background-color: #ddd;
	margin: 2em;
	padding: 1em;
	border: 1px solid #000;
}
div.table table {
	background: transparent;
	padding: 0em;
	margin: .3em .6em .3em .6em;
	border: 0px solid black;
}

div.table td {
	background: #fff;
	padding: .1em;
	margin: .1em;
	border: 1px solid black;
}

div.table p {
	padding: .2em;
	margin: .2em;
}

div.table tr {
	padding: .2em;
	margin: .2em;
}

div.table th {
	background: #551a8b;
	color: #fff;
	padding: .2em;
	margin: .2em;
	border: 1px solid black;
	text-align: center;
}

div.warning {
	padding: 1em;
	margin: 1em;
	border: 2px solid orange;
}

div.note {
	padding: 1em;
	margin: 1em;
	border: 2px solid lightblue;
}
